<?xml version="1.0" encoding="GB2312"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans-2.0.dtd">
<beans default-autowire="byName">
	<bean id="asyncLoadTestServiceDAO" class="com.agapple.asyncload.domain.AsyncLoadTestServiceDAO" />
	<bean id="asyncLoadTestService" class="com.agapple.asyncload.domain.AsyncLoadTestServiceImpl" />
	<!-- async相关配置 -->
	<bean id="asyncLoadExecutor" class="com.agapple.asyncload.AsyncLoadExecutor" init-method="initital" destroy-method="destory">
		<property name="poolSize" value="10" />
		<property name="acceptCount" value="100" />
		<property name="mode" value="REJECT" />
	</bean>
	<bean id="asyncLoadMethodMatch" class="com.agapple.asyncload.impl.AsyncLoadPerl5RegexpMethodMatcher" >
		<property name="patterns">
			<list>
				<value>(.*)RemoteModel(.*)</value>
			</list>
		</property>
		<property name="excludedPatterns">
			<list>
				<value>(.*)listRemoteModel(.*)</value>
			</list>
		</property>
		<property name="excludeOveride" value="false" />
	</bean>
	<bean id="asyncLoadConfig" class="com.agapple.asyncload.AsyncLoadConfig">
		<property name="defaultTimeout" value="3000" />
		<property name="needThreadLocalSupport" value="true" />
		<property name="needBarrierSupport" value="false" />
		<property name="matches">
			<map>
				<entry key-ref="asyncLoadMethodMatch" value="2000" />
			</map>
		</property>
	</bean>
	<!-- 异步加载模FactoryBean -->
	<bean id="asyncLoadTestFactoryBean" class="com.agapple.asyncload.impl.spring.AsyncLoadFactoryBean">
		<property name="targetClass" value="com.agapple.asyncload.domain.AsyncLoadTestService" /><!-- 指定具体的代理目标class -->
		<property name="target">
			<ref bean="asyncLoadTestService" />
		</property>
		<property name="executor" ref="asyncLoadExecutor" />
		<property name="config" ref="asyncLoadConfig" />
	</bean>
	<!-- 异步加载模板类 -->
	<bean id="asyncLoadTemplate" class="com.agapple.asyncload.impl.template.AsyncLoadTemplate" >
		<property name="executor" ref="asyncLoadExecutor" />
		<property name="config" ref="asyncLoadConfig" />
	</bean>
	<!--  并行加载拦截器 -->
	<bean id="asyncLoadTestServiceForInteceptor" class="com.agapple.asyncload.domain.AsyncLoadTestServiceImpl" />
	<bean id="asyncLoadInterceptor" class="com.agapple.asyncload.impl.spring.AsyncLoadInterceptor" >
		<property name="asyncLoadTemplate" ref="asyncLoadTemplate" />
	</bean>
	<bean class="org.springframework.aop.framework.autoproxy.BeanNameAutoProxyCreator">
   		<property name="optimize" value="false"/>
   		<property name="proxyTargetClass" value="false" />
        <property name="beanNames">
        	<list>
        		<value>asyncLoadTestServiceForInteceptor</value>
        	</list>
        </property>
        <property name="interceptorNames">
        	<list>
	            <value>asyncLoadInterceptor</value>
        	</list>
        </property>
     </bean>
     
     <!--  模式测试 -->
     <!-- 多例测试 -->
     <bean id="asyncLoadTestServiceForCompsitePrototype" class="com.agapple.asyncload.domain.AsyncLoadTestServiceImpl" scope="prototype" />
     <!-- 单例测试 -->
     <bean id="asyncLoadTestServiceForCompsiteSingleton" class="com.agapple.asyncload.domain.AsyncLoadTestServiceImpl" scope="singleton" />
     <!-- 原本是ProxyFactoryBean -->
     <bean id="logInteceptor" class="com.agapple.asyncload.spring.LogInteceptor" />
     <bean id="asyncLoadTestServiceForCompsiteFactoryBean" class="org.springframework.aop.framework.ProxyFactoryBean" scope="prototype">
    	<property name="interceptorNames">
    		<list>
    			<value>logInteceptor</value>
    		</list>
    	</property>
    	<property name="targetName" value="asyncLoadTestService" />
    	<property name="proxyTargetClass" value="true" /> <!-- 强制申明为cglib代理 -->
     </bean>
     
     <bean class="com.agapple.asyncload.impl.spring.CompositeAutoProxyCreator">
        <property name="beanNames">
        	<list>
        		<value>asyncLoadTestServiceForCompsitePrototype</value>
        		<value>asyncLoadTestServiceForCompsiteSingleton</value>
        		<value>asyncLoadTestServiceForCompsiteFactoryBean</value>
        	</list>
        </property>
        <property name="interceptorNames">
        	<list>
	            <value>asyncLoadInterceptor</value>
        	</list>
        </property>
     </bean>
     <!-- 多次的代理会只作用于一个代理对象 -->
     <bean class="com.agapple.asyncload.impl.spring.CompositeAutoProxyCreator">
     	<property name="applyCommonInterceptorsFirst" value="true"/>
        <property name="beanNames">
        	<list>
        		<value>asyncLoadTestServiceForCompsitePrototype</value>
        		<value>asyncLoadTestServiceForCompsiteSingleton</value>
        		<value>asyncLoadTestServiceForCompsiteFactoryBean</value>
        	</list>
        </property>
        <property name="interceptorNames">
        	<list>
    			<value>logInteceptor</value>
    		</list>
        </property>
     </bean>
     
</beans>